@import "tailwindcss";
@plugin 'daisyui' {
	themes: night --default;
}

div p code {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.2rem;
	line-height: 2.5rem;
	overflow-x: auto;
	white-space: pre-wrap;
	word-break: keep-all;
	background-color: #1e1e1e;
	border-radius: 0.5rem;
	padding: 0.2rem;
	border: 1px solid #333;
}
